<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort zurücksetzen</title>
</head>
<body>
   <h3>Hallo {{username}},</h3>
   <p> Sie haben einen Passwort-Reset für ihren Join account angefragt.
    Bitte folgen Sie dem Link <a href="{{reset_password_url}}"> Passwort zurücketzen </a>, um ein neues Passwort festzulegen.
   </p>
   <p>
    Der angegebene Link ist 24 Stunden gültig.    
   </p>
   <p>
    Diese Email wurde automatisch generiert.
   </p>
</body>
</html>